body{
    font-family: monospace;
    background: #111111;
    margin: auto;
    padding: 1em;
    max-width: 1920px;
}
.separator{
    height: 0.1em;
}

.readme{
    color: #e7e7e7;
    background: none;
    /* border: solid #272727 3px; */
    border-radius: 5px;
    padding: 0 1em;
    margin: 0 0 0.5em 0;
    overflow: hidden;
}

footer{
    color: #e7e7e7;
    background: none;
    /* border: solid #272727 3px; */
    border-radius: 5px;
    padding: .5em 1em;
    margin: 0.5em 0 0.5em 0;
    overflow: hidden;
    text-align: center;
}

:any-link{
    color: inherit;
}
:any-link:hover{
    color: green;
}

.code-box{
    font-family: monospace;
    padding: 0;
    color: #e7e7e7;
    background: #272727;
    border: solid #272727;
    border-radius: 3px 3px 0 0;
}
.code-box-header{
    padding: .5em 1em;
    border-bottom: solid 1px #e7e7e7;
}
.code-box-scroll{
    height: 30em;
    display: block;
    padding: 0em 2em;
    margin: .2em 0 0 0;
    overflow: auto;
}
code{
    font-family: monospace;
}
.console-box{
    border: solid #272727;
    background: #272727;
    color: #e7e7e7;
    font-family: monospace;
    padding: 0;
    border-radius: 0 0 3px 3px;
}
.console-box-header{
    padding: .5em 1em;
    border-bottom: solid 1px #e7e7e7;
}
.console{
    height: 15em;
    width: 100%;
    outline: none;
    border: none;
    overflow: auto;
    margin: .2em 0 0 0;
}

/* SCROLLBARS */
::-webkit-scrollbar {
    width: .4em;
    height: .4em;
}
::-webkit-scrollbar-track {
    display: none;
}
::-webkit-scrollbar-thumb {
    background-color: #e7e7e7;
    border-radius: 5px;
}
::-webkit-scrollbar-corner{
    display: none;
}
